<?xml version="1.0" encoding="utf-8"?>
<PagerDutyConfig xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/PagerDutyApi.Config">
	 <ApiUrl>https://acme.pagerduty.com/api/v1/schedules/P4MHU96/entries</ApiUrl>
	 <AuthToken>YOUR_API_TOKEN</AuthToken>
	 <EventApiUrl>https://events.pagerduty.com/generic/2010-04-15/create_event.json</EventApiUrl>
	 <EventAuthToken>YOUR_SERVICE_API_TOKEN_FOR_CREATING_EVENTS</EventAuthToken>
</PagerDutyConfig>