<?xml version="1.0" encoding="utf-8"?>
<PagerDutyConfig xmlns:i="http://www.w3.org/2001/XMLSchema-instance" 
                 xmlns="http://schemas.datacontract.org/2004/07/PagerDutyApi.Config">
	 <ApiUrl>https://parkmobile.pagerduty.com/api/v1/incidents</ApiUrl>
	 <AuthToken>xxFrzZZHtAGAezxLsMD</AuthToken>
	 <EventApiUrl>https://events.pagerduty.com/generic/2010-04-15/create_event.json</EventApiUrl>
	 <EventAuthToken>3d2571d292d74ebe9ce8cab1510c76b9</EventAuthToken>
</PagerDutyConfig>